.fakeimg {
  height: 200px;
  background: #aaa;
}


h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height = 1.6;
}
h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 45px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: normal;
}

h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
}

h4 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

.card-header {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  text-align: center;

}

.card-body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  text-align: center;
  line-height: normal;
}

.card-footer {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  text-align: center;
  line-height: normal;
}


pre {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
.navbar a{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
/* .bg-custom {
  background-color: #81C2FF; */
}


/* h3 {
  font-family: "Playfair Display";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
} */
